*{margin: 0;
    padding: 0;}
   
    header{
        background-color: rgb(7, 196, 230);
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
   
    }