*{margin: 0;
    padding: 0;}
   
    header{
        background-color: rgb(255, 0, 179);
        color: rgba(0, 0, 0, 0.979);
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
   
    }

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    padding: 10px 0;
    font-size: 24px;
    
}
.imagem-escola{
  width: 25%;  
}
.escola{
    background-image: linear-gradient(rgb(255, 0, 179), rgb(0, 255, 255));
    color: rgb(255, 247, 247);
    display: flex;
    justify-content: center;
    
}

.texto-escola{font-size: 20px;};

.escola-conteudo{
    width: 40%;
    align-items: center;
    padding: 24px 0;
}

.titulo-escola{
    padding: 20px;
}

.imagem-escola{margin: 40px;}

.estudante{
    background-image: linear-gradient(rgb(0, 255, 255, ), rgb(15, 3, 190));
    color: white;

}

.estudante-imagem{
    width: 140px;
}

.estudante-icone{
    width: 20px;
}