*{margin: 0;
    padding: 0;}
   
    header{
        background-color: rgb(249, 235, 30);
        color: rgba(12, 12, 12, 0.979);
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
   
    }

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    padding: 10px 0;
    font-size: 24px;
    
}
.imagem-escola{
  width: 25%;  
}
.escola{
    background-image: linear-gradient(rgb(0, 204, 255), rgb(242, 173, 45));
}
